@use "/src/css/variables" as v;

.global-color {
  .inner {
    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #565656;
      opacity: 0.5;
    }
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    .global-color-option {
      .close-settings {
        position: absolute;
        right: 20px;
        top: 20px;
        color: v.$color_5;
        font-size: 20px;
      }
      .global-color-option-inner {
        p {
          text-transform: uppercase;
          font-size: 13px;
          color: v.$color_5;
          line-height: 1.2;
          margin-bottom: 25px;
        }
        .themes {
          display: flex;
          flex-wrap: wrap;
          padding-top: 30px;
          li {
            margin-right: 80px;
            margin-bottom: 55px;
            a {
              font-size: 14px;
              color: v.$color_5;
              font-weight: 500;
              display: block;
              line-height: 1.2;
              position: relative;
              &::before {
                content: "";
                width: 100%;
                height: 1px;
                background: #fff;
                position: absolute;
                left: 0;
                top: 50%;
                opacity: 0;
                transition: 0.3s;
              }
              &:hover {
                &::before {
                  opacity: 1;
                }
              }
            }
          }
          li.active {
            a {
              &::before {
                opacity: 1;
              }
            }
          }
        }
      }
      max-width: 1043px;
      width: 100%;
      margin-left: auto;
      background: #191919;
      height: 100%;
      overflow-x: hidden;
      padding-top: 50px;
      margin-right: -400px;
      transition: 0.4s;
      padding: 134px;
      h2 {
        color: v.$color_5;
        font-weight: 200;
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 80px;
      }
    }
  }
  position: fixed;
  left: 0;
  top: 50px;
  z-index: 100;
  .setting-toggle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    background: #1f1f1f;
  }
  .global-color-option {
    .color-boxed {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 26px;
      margin-bottom: 105px;
      padding-top: 30px;
      a {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        background: #28e98c;
        &::before {
          content: "";
          border: 1px solid #fff;
          position: absolute;
          border-radius: 50%;
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: 0.3s;
        }
        &::after {
          content: "";
          position: absolute;
          border: none;
          transform: translate(-50%, -50%);
          width: 4px;
          height: 4px;
          left: 50%;
          top: 50%;
          background: #fff;
          border-radius: 50%;
          opacity: 0;
        }
        &:hover {
          &::after {
            opacity: 1;
          }
          &::before {
            opacity: 1;
          }
        }
        &:nth-child(2) {
          background: #e4af12;
        }
        &:nth-child(3) {
          background: #fe6f1d;
        }
        &:nth-child(4) {
          background: #14c5fd;
        }
        &:nth-child(5) {
          background: #c0c0c0;
        }
        &:nth-child(6) {
          background: #1338f3;
        }
        &:nth-child(7) {
          background: #f31313;
        }
        &:nth-child(8) {
          background: #ff99cc;
        }
        &:nth-child(9) {
          background: #cceb00;
        }
        i {
          font-size: 14px;
        }
      }
      a.clr-active {
        &::after {
          opacity: 1;
        }
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
.global-color.active {
  .inner {
    opacity: 1;
    visibility: visible;
    .global-color-option {
      margin-right: 0;
    }
  }
}
@media (max-width: 767px) {
  .global-color {
    .inner {
      .global-color-option {
        h2 {
          margin-bottom: 60px;
        }
        padding: 100px 50px;
        .global-color-option-inner {
          .themes {
            padding-top: 10px;
            li {
              margin-right: 40px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    .global-color-option {
      .color-boxed {
        margin-bottom: 50px;
        padding-top: 10px;
      }
    }
  }
}
