@use "/src/css/variables" as v;

.skills-area {
  padding-top: 90px;
  padding-bottom: 40px;
}
.skills {
  .skill {
    margin-bottom: 50px;
    .skill-inner {
      border: 2px solid #565656;
      border-radius: 85px;
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      transition: 0.3s;
      i,
      .letter {
        font-size: 75px;
        line-height: 1;
        color: v.$color_4;
      }
      .letter {
        font-weight: 300;
      }
      img {
        display: block;
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
    &:hover {
      .skill-inner {
        border-color: v.$border-color_1;
      }
    }
    p {
      font-size: 14px;
      color: v.$color_5;
      margin: 0;
    }
  }
}

@media (max-width: 767px) {
  .skills {
    .skill {
      margin-bottom: 30px;
      .skill-inner {
        height: 130px;
        border-radius: 65px;
        i,
        .letter {
          font-size: 56px;
        }
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
@media (max-width: 584px) {
  .skills-area {
    padding-bottom: 0;
  }
}
