@use "/src/css/variables" as v;

.contact-area {
  padding-top: 90px;
  padding-bottom: 90px;
  .contact-content {
    .contact-email {
      display: inline-block;
      font-size: 36px;
      font-weight: 300;
      color: v.$color_5;
      border-bottom: 1px solid transparent;
      transition: 0.3s;
      overflow-wrap: anywhere;
      margin-bottom: 24px;
      &:hover {
        color: v.$color_3;
        border-color: v.$border-color_1;
      }
    }
    .availability {
      max-width: 610px;
      margin-bottom: 40px;
    }
    .contact-links {
      display: flex;
      flex-wrap: wrap;
      gap: 14px;
      .theme-btn {
        padding-left: 28px;
        padding-right: 28px;
        font-size: 14px;
        i {
          font-size: 20px;
        }
      }
      .theme-btn.outline {
        background: none;
        color: v.$color_5;
        border-color: #565656;
        &:hover {
          color: v.$color_3;
          border-color: v.$border-color_1;
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .contact-area {
    padding-bottom: 60px;
    .contact-content {
      .availability {
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 584px) {
  .contact-area {
    padding-top: 60px;
    padding-bottom: 80px;
    .contact-content {
      .contact-email {
        font-size: 26px;
      }
      .contact-links {
        .theme-btn {
          width: 100%;
        }
      }
    }
  }
}
