$color_1: #999999;
$color_2: #000000;
$color_3: var(--primary_color);
$color_4: #ffffff;
$color_5: #fff;
$color_6: #000;
$color_7: #666666;
$color_8: #fc4545;
$color_9: #d1d1d1;
$color_10: #a0a0a0;
$color_11: #686a6f;
$color_12: #cccccc;
$color_13: #ccc;
$font-family_1: "Inter", sans-serif;
$background-color_1: #fff;
$border-color_1: var(--primary_color);
$border-color_2: #ffffff;
$border-color_3: #555555;
$border-color_4: #fff;
