@use "/src/css/variables" as v;

.resume-area {
  padding-top: 90px;
  padding-bottom: 90px;
  .resume-content {
    .resume-timeline {
      .item {
        position: relative;
        padding-left: 74px;
        padding-bottom: 68px;
        &:last-child {
          padding-bottom: 0;
          &::after {
            height: calc(100% - 10px);
          }
        }
        &::after {
          content: "";
          background: #333333;
          width: 1px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 10px;
          z-index: -1;
        }
        &::before {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          background: #656565;
          border-radius: 50%;
          left: -6px;
          top: 7px;
          transition: 0.3s;
        }
        .date {
          display: block;
          margin-bottom: 28px;
          transition: 0.3s;
        }
        h2 {
          font-size: 24px;
          font-weight: 300;
          margin-bottom: 5px;
          color: v.$color_5;
          a {
            color: v.$color_5;
            display: block;
          }
        }
        p {
          font-size: 13px;
          color: v.$color_1;
          margin-bottom: 18px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:hover {
          &::before {
            background: var(--primary_color);
          }
          .date {
            color: v.$color_3;
          }
        }
      }
    }
  }
}

@media (max-width: 584px) {
  .resume-area {
    padding-bottom: 0;
    .resume-content {
      .resume-timeline {
        .item {
          padding-left: 50px;
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .resume-area {
    padding-bottom: 50px;
  }
}
